/* Police et styles par défaut
   A definir sur html ou body
------------------------------------------*/
body {

  /*Famille de la police de caractères*/
  font-family: Roboto, sans-serif; /* Arial, Helvetica, Verdana */
	font-weight: 300;
  *font-family: serif; /* Times New Roman, Times, Georgia */
  *font-family: monospace; /* Courier New, Lucida Console */

  /*Taille + interlignage*/
  font-size: 16px;
  line-height: 1.5; /* = 150% de 16 => 24px */

  /*Couleur du texte*/
  color: #333;

  /*Alignement global*/
  text-align: center;

}


/* Les titres
------------------------------------------*/
h1, h2, h3 {
  font-family: Georgia, serif;
  line-height: 1; /* = 100%, donc la même taille définie ci-dessous... */
  text-transform: uppercase;
}

h1 {
  /*em = unité proportionnelle
   relative à la police de son parent, aka le body, qui est à 16px
   3em = 300% de 16px => 48px */
  font-size: 3em;
}
h2 {
  font-size: 2.25em; /*36px*/
}
h3 {
  font-size: 1.75em; /*28px*/
}

/* Les styles d'emphase
------------------------------------------*/
em {
  font-style: italic;
}

strong {
  font-weight: 700;
}

mark {
  background-color: olive;
  color: white;
}

blockquote {
	font-family: Merriweather;
  font-style: italic;
  color: #fff;
  font-size: 1.2em;
  background-color: grey;
	padding: 1em;
}

/* Paragraphes à l'interieur du blockquote */
blockquote p {
	margin: 0;
}
blockquote p:before, blockquote p:after {
	font-size: 1.3em;
}
blockquote p:first-child:before {
	content: "\201C";
	margin-right: .2em;
}
blockquote p:last-child:after {
	content: "\201D";
	margin-left: .2em;
}

q {
  color: navy;
  font-style: italic;
}

abbr {
  font-family: monospace;
  font-size: 1.3em;
  text-decoration: overline;
}

/* Les listes
------------------------------------------*/
ul {
  list-style-type: decimal; /*none, disc, circle, square, decimal, etc.*/
  list-style-position: inside; /*outside*/
}
ul li {
	color: lightseagreen; /*pour les puces*/
}

/* Les liens
------------------------------------------*/
a {
  color: inherit; /*inherit si on veut avoir la même couleur que le texte*/
  text-decoration: none; /*enlève le soulignement*/
}

/* Couleur en survol "li" et "a"
------------------------------------------*/
ul li:hover,
a:hover {
	color: #000;
	transition: color .4s ease-in-out; /*changer la couleur progressivement*/
}


/* Formatage annexe */
hr {
  margin: 1em 0;
}
